html,
body {
    background-color: rgb(95, 8, 25);

}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#resultado{
    border: 1px solid white;
    width: 200px;
    height: 30px;
    margin: auto;
}

#resultado {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
#intro {
    width: 189px;
    height: 28px;
    border: 2px solid black;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.super-calculator {
    border: 2px solid black;
    width: 17rem;
    height: 390px;
    text-align: center;
    line-height: 31px;
    margin: auto;
    border-radius: 4px;
    background-color: steelblue;
}

.oper,
.num {
    width: 35px;
    height: 24px;
    cursor: pointer;
    border: 1px solid white;
}

.oper:hover,
.num:hover {
    background-color: rgb(10, 6, 65);
    color: white;
}

.btn-result {
    width: 35px;
    height: 24px;
    cursor: pointer;
    border: 1px solid white;
}

.btn-result:hover {
    background-color: green;
    color: white;

}

.btn-limpar {
    width: 35px;
    height: 24px;
    cursor: pointer;
    border: 1px solid white;}

.btn-limpar:hover{
    background-color: brown;
    color: white;
}

.img-calc {
    width: 40px;
    cursor: pointer;
    border: 2px solid rgb(5, 111, 160);
    border-radius: 2px;
}