
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(95, 8, 25);
    font-size: 28px;
}

#resultado{
    border: 1px solid rgb(255, 255, 255);
    width: 300px;
    height: 40px;
    margin: auto;
    background-color: rgb(18, 8, 37);
    border: 2px solid rgb(67, 59, 134);
    color: white;
    text-align: center;
    font-size: 22px;

}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

#intro {
    width: 230px;
    height: 28px;
    border: 2px solid black;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.super-calculator {
    border: 2px solid rgb(54, 59, 85);
    width: 18rem;
    height: 408px;
    text-align: center;
    line-height: 41px;
    margin: auto;
    border-radius: 4px;
    background-color: rgb(2, 18, 31);
}

.oper,
.num {
    width: 60px;
    height: 30px;
    cursor: pointer;
    border: 1px solid white;
}

.oper:hover,
.num:hover {
    background-color: rgb(10, 6, 65);
    color: white;
}

.btn-result {
    width: 70px;
    height: 28px;
    cursor: pointer;
    border: 1px solid white;
}

.btn-result:hover {
    background-color: green;
    color: white;

}

.btn-limpar {
    width: 60px;
    height: 28px;
    cursor: pointer;
    border: 1px solid white;}

.btn-limpar:hover{
    background-color: brown;
    color: white;
}

.img-calc {
    width: 40px;
    cursor: pointer;
    border: 2px solid rgb(54, 59, 85);
    border-radius: 2px;
    margin-left: 14rem;
    
}